<div class="container">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr/>
    <form (ngSubmit)="register()" #registerForm="ngForm" autocomplete="off">
        <div class="form-group">
            <input type="text" name="username" placeholder="Username" [(ngModel)]="model.username" class="form-control" />
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Password" [(ngModel)]="model.password" class="form-control" />
        </div>
        <div class="form-group text-center">
            <input type="submit" class="btn btn-success mr-3" value="Register" />
            <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>